<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="settingsService.navigateToSettings()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let entry of this.databaseEntries">
  <div>{{entry.amount}} ml</div>
  </ion-item>
<!--
  <ion-button (click)="this.loadDatabaseEntries()"></ion-button>
-->
</ion-content>
