<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="settingsService.navigateToSettings()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
Hier soll dann der "Datenbank"-Zugriff stattfinden, d.h. hier wird angezeigt wie viel getrunken wurde für einen
  vom User ausgewählten Zeitraum. Außerdem sollen verschiedene Visualisierungen der Daten angeboten werden.
</ion-content>
