<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Water
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="settingsService.navigateToSettings()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-progress-bar class="progress-bar" value="0.25"></ion-progress-bar>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

  <ion-button fill="clear">
    <ion-icon name="water"></ion-icon>
  </ion-button>

</ion-content>
