<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Water
        </ion-title>
        <ion-button slot="end" fill="clear" (click)="settingsService.navigateToSettings()">
            <ion-icon name="settings"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-progress-bar class="progress-bar" [value]="waterMeasureService.progBarValue"></ion-progress-bar>
    <ion-slides [options]="slideOptions">
        <ion-slide>
            <div style="text-align: center">
                <p>You reached <strong>{{waterMeasureService.progBarValueInPercent}} %</strong> of your daily goal!</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center">
                <p>You drank <strong>{{waterMeasureService.drankToday}} ml</strong> of your daily goal!</p>
            </div>
        </ion-slide>
    </ion-slides>


    <ion-grid class="ion-padding">
        <ion-row>
            <ion-col *ngFor="let water of this.waterAdder">
                <ion-button fill="clear" (click)="addWater(water)">
                    <ion-icon name="water"></ion-icon>
                    <ion-badge>{{water}} ml</ion-badge>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
